// Header Styles

header.header {
  width: 100%;
  height: $headerHeight;
  background-color: $yellow;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 20px;

  & > .content {
    width: 50%;
    height: $headerHeight - 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: $borderRadius;

    & > img {
      cursor: pointer;
    }
  }
}
