.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  min-height: calc(100vh - 80px);
  padding-top: 20px;

  & > img {
    width: 100px;
    height: auto;
  }
  & > h2 {
    margin-top: 20px;
    font-size: $medium + 10px;
  }
  & > p {
    font-size: 20px;
    margin-top: 15px;
  }
}
