// Product card styles

div.product-item {
  width: 100%;
  height: 210px;
  display: grid;
  grid-template-columns: 190px 60% 1fr;
  justify-content: center;
  align-items: center;
  padding: $small $small;
  background-color: $white;

  & > .photo {
    width: 180px;
    height: 180px;
    border-radius: $borderRadius;
    & > img {
      border-radius: $borderRadius;
      width: 100%;
    }
  }

  & > .content,
  & > .city {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: hidden;
    margin-left: $small;
    padding: 10px 0;
    height: 75%;
    overflow: hidden;
  }

  & > .content {
    & > h3 {
      font-size: $productListPrice;
      display: flex;
      align-items: center;
      justify-content: center;
      & > img {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        margin-left: 10px;
      }
    }
    & > h2 {
      font-size: $productListTitle;
      margin-top: $medium;
    }
  }

  & > .city {
    font-size: $productListCity;
  }
}

hr.divider {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 90%;
  padding: 0px 10px;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
  border: none;
}
