// Search Bar styles


div.search-bar{
  width: 100%;
  height: 100%;
  background-color: $white;
  margin-left: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border:none;
  border-radius: 5px;
  outline: none;
  
  & > .input{
    width:90%;
    height: 100%;
    display: flex;
    border:none;
    outline: none;
    padding: 0 10px;
    font-size: $searchBar;
  }
  & > .button{
    width: 40px;
    height: 100%;
    color: $white;
    cursor: pointer;
    border:none;
    outline: none;
    border-radius: $borderRadius;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $greyLigth;

    &:disabled{
      & > img{
        opacity: 0.3;
        cursor: not-allowed;
      }
    }

    & > img{
      width: 20px;
      height: 20px;
    }
  }

}