// Search Results Page styles


section.search-results {
  margin: 0;
  width: 100%;  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  & > .container{
    width: 50%;
    margin-top: $small;
    height: auto;
    overflow: hidden;
    background-color: transparent;
    
    & > .items{
      border-radius: $borderRadius;
      margin-top: $small;
      background-color: $white;
    }
  }
}