// Basic spaces used to divide items
$small: 16px;
$medium: 32px;
$headerHeight: 50px;

// Fonts ProductList
$productListTitle: 18px;
$productListPrice: 24px;
$productListCity: 12px;

// Fonts ProductDetail
$productDetailTitle: 24px;
$productDetailPrice: 46px;
$productDetailExtra: 14px;
$productDetailDescTitle: 28px;
$productDetailDesc: 16px;

// Fonts General
$breadcrumb: 14px;
$searchBar: 18px;
$borderRadius: 4px;